@import "./../../styles.scss";

.about {
  @include displayFlex($jc: space-between, $ai: flex-start, $fd: row);
  @include width();
  @include gap(64px);
  min-height: 800px;
  @include padding(40px 60px);
  background: $primary_background_color_black;
}

.aboutMePhoto {
  @include position(relative);
  > .backgroundHover {
    @include position(absolute, 0, 0, $zi: 1);
    @include width(100%);
    @include height(auto);
    transition: 125ms ease-in-out;
    max-width: 568px;
  }
  > .aboutMeImage {
    @include position(relative, $zi: 2);
    @include width(100%);
    @include height(auto);
    max-width: 568px;
  }
  &.active > .backgroundHover {
    @include position($t: 42px, $l: -42px);
  }
}

.aboutMeInfoWrapper {
  @include displayFlex($ai: flex-start, $fd: column);
  @include gap(10px);
  align-self: flex-end;
  > span {
    @include fontStyle($font_size_24, $font_weight_500);
    color: $primary_color_green;
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .aboutMeInfoWrapper {
    align-self: inherit;
  }
}

@media only screen and (max-width: $tablet) {
  .about {
    @include padding(24px 16px);
  }

  .aboutMePhoto {
    &.active > .backgroundHover {
      @include position($t: 0, $l: 0);
    }
  }

  .aboutMeInfoWrapper {
    > span {
      font-size: $font_size_20;
    }
  }
}
