@import "./../../styles.scss";

section {
  @include displayFlex($jc: space-between, $ai: flex-start, $fd: row);
  @include width();
  min-height: 800px;
  @include padding(40px 60px);
  background: $primary_background_color_black;
}

.aboutMePhoto {
  @include position(relative);
  > .backgroundHover {
    @include position(absolute, 0, 0, $zi: 1);
    transition: 125ms ease-in-out;
  }
  > .aboutMeImage {
    @include position(relative, $zi: 2);
  }
  &.active > .backgroundHover {
    @include position($t: 42px, $l: -42px);
  }
}

.aboutMeInfoWrapper {
  @include displayFlex($ai: flex-start, $fd: column);
  @include gap(10px);
  align-self: flex-end;
  > span {
    @include fontStyle($font_size_24, $font_weight_500);
    color: $primary_color_green;
  }
}
