<main class="hero">
  <header>
      <nav>
        <button></button>
        <a href="">About me</a>
        <a href="">Skills</a>
        <a href="">Projects</a>
      </nav>
      <div class="logo">
        <div class="initials">
          <span class="letter">D</span>
          <span class="letter">S</span>
        </div>
        <div class="name">
          <span>Dennis</span>
          <span>Schwarz</span>
        </div>
      </div>
    </header>

    <section class="introduction">
        <h3>Frontend Developer</h3>
        <h1>Dennis Schwarz</h1>
        <div>
          <button>Check my work</button>
          <button>Contact me</button>
        </div>
    </section>


    <section>

    </section>


</main>


