@import "./../../styles.scss";

.hero {
  @include displayFlex($jc: space-between, $fd: column);
  @include position(relative);
  @include height();
  @include width();
  @include padding(40px 60px 0 40px);
  @include overflowHidden();
  background: linear-gradient(
    55.22deg,
    $primary_background_color_black 36.26%,
    $primary_background_color_green 93.28%
  );
}

header {
  @include displayFlex($jc: space-between);
  @include width();
  @include position(relative);
  > .navbar {
    @include displayFlex();
    @include gap(24px);
  }
}

.navbarLinks {
  @include displayFlex();
  @include gap(24px);

  > a {
    @include fontStyle();
    @include position(relative);
    text-decoration: none;
    transition: 100ms ease-in-out;
    &:hover {
      color: $primary_color_green;
    }
    &::after {
      content: "";
      @include position(absolute);
      @include width(8px);
      @include height(8px);
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      border-radius: $border_radius_button_100;
      transition: 100ms ease-in-out;
    }
    &:hover::after {
      background-color: $primary_color_green;
    }
    &:hover {
      @include cursorPointer();
    }
  }
}
.menuIcon {
  display: none;
  &:hover {
    @include cursorPointer();
    filter: brightness(0) saturate(100%) invert(75%) sepia(12%) saturate(2393%)
      hue-rotate(117deg) brightness(99%) contrast(73%);
  }
}

.languageToggle {
  position: relative;
  width: 80px;
  height: 28px;
}

.languageToggle input {
  display: none;
}

.labelToggle {
  @include displayFlex($jc: space-around);
  @include position(relative);
  @include width(100%);
  @include height(100%);
  border: 1px solid $primary_color_green;
  border-radius: $border_radius_button_100;
  &:hover {
    @include cursorPointer();
  }
}

.toggleSlider {
  @include position(absolute);
  top: 0;
  left: 0;
  @include width(50%);
  @include height(100%);
  background-color: $primary_color_green;
  border-radius: $border_radius_button_100;
  transition: 200ms ease-in-out;
}

.toggleText {
  @include fontStyle($fs: $font_size_16, $fw: $font_weight_400);
  z-index: 2;
}

#inputToggle:checked + .labelToggle .toggleSlider {
  transform: translateX(100%);
}

#inputToggle:checked + .labelToggle .de,
#inputToggle:not(:checked) + .labelToggle .en {
  color: $primary_color_white;
}

#inputToggle:checked + .labelToggle .en,
#inputToggle:not(:checked) + .labelToggle .de {
  color: $primary_color_green_faded;
}

#inputToggle:not(:checked) + .labelToggle:hover .de,
#inputToggle:checked + .labelToggle:hover .en {
  color: $primary_color_green;
  transition: 100ms ease-out;
}

.title {
  @include displayFlex($jc: center, $fd: column);
  @include width();
  @include gap(12px);
  @include position(absolute);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > h1 {
    @include fontStyle(
      $fs: $font_size_128,
      $fw: $font_weight_700,
      $ff: $primary_font_karla
    );
  }
  > h3 {
    @include fontStyle($fs: $font_size_40, $c: $secondary_color_white);
  }
  > .marqueeButtons {
    @include displayFlex();
    @include gap(16px);
  }
}

.heroFooter {
  @include width();
  @include displayFlex($jc: space-between, $ai: flex-end);
}

.leftLateral,
.rightLateral {
  @include displayFlex($fd: column);
  @include gap(24px);
}

.gitHubLink,
.linkedInLink {
  @include height(32px);
  @include width(32px);
  @include position(relative);
  &:hover > img {
    @include cursorPointer();
    filter: brightness(0) invert(1);
  }
  &::after {
    content: "";
    @include position(absolute);
    @include width(8px);
    @include height(8px);
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: $border_radius_button_100;
    transition: 100ms ease-in-out;
  }

  &:hover::after {
    background-color: $primary_color_green;
  }
}

.leftLateralLine {
  @include height(240px);
  border: 1px solid $primary_color_green;
}

.downArrow {
  @include height(16px);
  animation: bounce 1.5s ease-in infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.rightLateralLine {
  @include height(186px);
  border: 1px solid $primary_color_white;
}

.mailAdress {
  @include fontStyle(
    $font_size_18,
    $font_weight_400,
    $primary_color_white,
    $primary_font_karla
  );
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  &:hover {
    color: $primary_color_green;
  }
}

app-marquee {
  @include position(absolute);
  @include width(110vw);
  bottom: 5vh;
  transform: rotate(-3deg);
}

.downArrowBorder {
  @include displayFlex();
  @include height(48px);
  @include width(32px);
  border: 1px solid $primary_color_green;
  border-radius: 32px;
}

@media only screen and (max-width: $desktop) {
  header {
    > .navbar {
      @include position(absolute, 100%, $r: 200%, $zi: 2);
      @include padding(40px 77px);
      border: 1px solid $primary_color_green;
      border-radius: 30px;
      // display: none;
      flex-direction: column-reverse;
      align-items: flex-start;
      transition: 225ms ease-in-out;
      background: linear-gradient(
        55.22deg,
        $primary_background_color_black 36.26%,
        $primary_background_color_green 93.28%
      );
      &.open {
        // display: flex;
        right: 0;
        transition: 225ms ease-in-out;
      }
      > {
        .navbarLinks {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    > .menuIcon {
      display: flex;
      transition: 225ms ease-in-out;
    }
  }
}
