<main class="hero">
  <header>
    <nav class="navbar" [ngClass]="{'open': isMenuOpen}"
    appClickedOutside
    (clickedOutside)="closeMenu()"
    >
      <div class="languageToggle">
        <input type="checkbox" class="inputToggle" id="inputToggle" (click)="toggleLanguage()"/>
        <label for="inputToggle" class="labelToggle">
          <span class="toggleText en">EN</span>
          <span class="toggleText de">DE</span>
          <span class="toggleSlider"></span>
        </label>
      </div>

      <div class="navbarLinks">
        <a (click)="scrollToSection('about'); closeMenu()">{{ 'ABOUT_ME' | translate }}</a>
        <a (click)="scrollToSection('skills'); closeMenu()">{{ 'SKILLS' | translate }}</a>
        <a (click)="scrollToSection('portfolio'); closeMenu()">{{ 'PROJECTS' | translate }}</a>
      </div>
    </nav>

    <app-logo></app-logo>

    <img
      src="{{ isMenuOpen ? '../../assets/img/close_icon.png' : '../../assets/img/menu_icon.png' }}"
      alt="menu_icon"
      class="menuIcon"
      (click)="toggleMenu()" 
    />
  </header>

  <section class="title">
    <h3>{{ 'TITLE' | translate }}</h3>
    <h1>Dennis Schwarz</h1>
    <div class="marqueeButtons">
      <app-marquee-button marqueeText="{{ 'CHECK_MY_WORK' | translate }}" (click)="scrollToSection('portfolio')" ></app-marquee-button>
      <app-marquee-button marqueeText="{{ 'CONTACT_ME' | translate }}" (click)="scrollToSection('contactMe')" ></app-marquee-button>
    </div>
  </section>

  <section class="heroFooter">
    <div class="leftLateral">
      <div class="downArrowBorder">
        <img
          class="downArrow"
          src="assets/img/down_arrow.png"
          alt="down_arrow"
        />
      </div>
      <div class="leftLateralLine"></div>
    </div>

    <div class="rightLateral">
      <a class="mailAdress" href="mailto:schwarzdennis1995@gmail.com"
        >schwarzdennis1995&#64;gmail.com</a
      >
      <a
        class="gitHubLink"
        href="https://github.com/DennisSchwarz1995"
        target="_blank"
      >
        <img src="assets/img/github_icon.png" alt="github_icon" />
      </a>
      <a class="linkedInLink" href="" target="_blank">
        <img src="assets/img/linkedin_icon.png" alt="linkedin_icon" />
      </a>
      <div class="rightLateralLine"></div>
    </div>
  </section>
  <app-marquee></app-marquee>
</main>
