<main class="hero">
  <header>
    <nav>
      <div class="languageToggle">
        <input type="checkbox" class="inputToggle" id="inputToggle" />
        <label for="inputToggle" class="labelToggle">
          <span class="toggleText en">EN</span>
          <span class="toggleText de">DE</span>
          <span class="toggleSlider"></span>
        </label>
      </div>

      <a href="">About me</a>
      <a href="">Skills</a>
      <a href="">Projects</a>
    </nav>
    <div class="logo">
      <div class="initials">
        <span class="letter">D</span>
        <span class="letter">S</span>
      </div>
      <div class="name">
        <span>Dennis</span>
        <span>Schwarz</span>
      </div>
    </div>
  </header>

  <section class="title">
    <h3>Frontend Developer</h3>
    <h1>Dennis Schwarz</h1>
    <div class="marqueeButtons">
      <app-marquee-button marqueeText="Check my work"></app-marquee-button>
      <app-marquee-button marqueeText="Contact me"></app-marquee-button>
    </div>
  </section>

  <section class="heroFooter">
    <div class="leftLateral">
      <div class="downArrowBorder">
        <img
          class="downArrow"
          src="assets/img/down_arrow.png"
          alt="down_arrow"
        />
      </div>
      <div class="leftLateralLine"></div>
    </div>

    <div class="rightLateral">
      <a class="mailAdress" href="mailto:schwarzdennis1995@gmail.com"
        >schwarzdennis1995&#64;gmail.com</a
      >
      <a class="gitHubLink" href="">
        <img src="assets/img/github_icon.png" alt="github_icon" />
      </a>
      <a class="linkedInLink" href="">
        <img src="assets/img/linkedin_icon.png" alt="linkedin_icon" />
      </a>
      <div class="rightLateralLine"></div>
    </div>
  </section>
  <app-marquee></app-marquee>
</main>
