<section class="contactMe" id="contactMe">
  <div class="contactMeWrapper">
    <aside class="contactInfo">
      <header class="contactHeader">
        <span>{{ 'CONTACT_ME' | translate }}</span>
        <h2>{{ 'WORK_TOGETHER' | translate }}</h2>
      </header>
      <div class="contactSolution">
        <span>{{ 'PROBLEM_TO_SOLVE' | translate }}</span>
        <p>
          {{ 'CONTACT_ME_FORM_INFO' | translate }}
          <br />
          {{ 'CONTACT_ME_FORM_INFO_NEED' | translate }}
          <span>{{ 'LETS_TALK' | translate }}!</span>
        </p>
      </div>
    </aside>
  
    <main class="contactForm">
      <app-contact-form></app-contact-form>
    </main>
  </div>
 
</section>
