<section class="skills">
  <div class="skillsWrapper">
    <span>Technologies</span>
    <app-info-box title="Skill Set">
      <p>
        My journey has involved working on diverse projects, employing a range
        of frontend technologies and concepts. I am open to embracing new
        technologies and methodologies to Continously enhance my skills and stay
        ahead in the ever-evolving landscape of web development.
      </p>

      <div class="anotherSkill">
        <div class="spanWrapper">
          <span class="highlightedSpan">You need</span>
          <span class="coloredSpan">another skill?</span>
        </div>

        <p>
          Feel free to contact me, I look forward to expanding on my previous
          knowledge.
        </p>
      </div>

      <app-marquee-button marqueeText="Let's Talk"></app-marquee-button>
    </app-info-box>
  </div>

  <div class="skillIcons">
    <div
      class="skillIcon"
      *ngFor="let skill of learnedSkills"

    >
      <img [src]="skill.icon" [alt]="skill.icon" 
      (mouseenter)="showTooltipOnHover(skill)"
      (mouseleave)="hideTooltipOnLeave()"/>
      <span 
      [class.hovered]="isTooltipVisible && skill.name === 'Growth Mindset'" 
      class="skillName">{{ formatIconName(skill.name) }}</span>
      <ng-container *ngIf="skill.name === 'Growth Mindset'">
        <app-tooltip
          [tooltipText]="'I have a special interest in learning'"
          [unlearnedSkills]="unlearnedSkills"
          [isVisible]="isTooltipVisible"
        >
        </app-tooltip>
      </ng-container>
    </div>
  </div>
</section>
