@import "./../../styles.scss";

.skills {
  @include displayFlex();
  @include padding(40px 60px);
  background: radial-gradient(
    22.43% 43.85% at 1.22% 52.45%,
    #11332d 30%,
    #1c1c1c 100%
  );
}

.skillsWrapper {
  @include displayFlex($ai: flex-start, $jc: space-between);
  @include width();
  @include gap(32px);
  max-width: $desktop-full-hd;
}

.skillsInfoBox {
  @include displayFlex($ai: flex-start, $fd: column);
  @include gap(10px);
  > span {
    @include fontStyle($font_size_24, $font_weight_500, $primary_color_green);
  }
}

.skillIcon {
  @include displayFlex($fd: column, $jc: flex-start);
  @include gap(8px);
  @include position(relative);
  max-width: 120px;
  text-align: center;
  > img,
  span {
    transition: 225ms ease-in-out;
  }
  > img:hover {
    transform: scale(1.05);
  }
}

.skillIcons {
  display: grid;
  justify-items: center;
  align-self: flex-end;
  grid-template-columns: repeat(4, 1fr);
  @include gap(72px);
}

.skillName {
  @include fontStyle($font_size_16, $font_weight_300);
  letter-spacing: -0.03em;
}

.highlightedSpan {
  @include fontStyle(
    $font_size_24,
    $font_weight_700,
    $primary_color_white,
    $primary_font_karla
  );
}

.coloredSpan {
  @include fontStyle(
    $font_size_24,
    $font_weight_700,
    $primary_color_green,
    $primary_font_fira
  );
}

.anotherSkill {
  @include displayFlex($jc: flex-start);
  @include width();
  @include gap(8px);
}

.spanWrapper {
  @include displayFlex($fd: column, $ai: flex-start);
  @include gap(16px);
  max-width: 65%;
  text-align: justify;
  > p {
    @include fontStyle($font_size_16);
    @include width();
  }
}

.hovered {
  color: $primary_color_green;
}

@media only screen and (max-width: $desktop-large) {
  .skillsWrapper {
    flex-direction: column;
    align-items: center;
    @include gap(60px);
  }

  .skillIcons {
    align-self: inherit;
  }
}

@media only screen and (max-width: $tablet) {
  .skills {
    @include padding(24px 16px);
  }

  .highlightedSpan,
  .coloredSpan,
  .skillsWrapper > span {
    font-size: $font_size_20;
  }

  .spanWrapper {
    max-width: 100%;
  }

  .skillIcons {
    @include width(100%);
    @include gap(12px);
  }
}

@media only screen and (max-width: $mobile-large) {
  .skillIcons {
    grid-template-columns: repeat(3, 1fr);
  }

  .skillIcon > img {
    @include width(48px);
    @include height(48px);
  }
}

@media only screen and (max-width: $mobile) {
  .skillIcons {
    grid-template-columns: repeat(2, 1fr);
  }

  .anotherSkill {
    flex-direction: column;
    align-items: flex-start;
  }
}
