<section class="privacyPolicy">
  <h2>{{ "PRIVACY_POLICY" | translate }}</h2>

  <h3>{{ "RESPONSIBLE" | translate }}</h3>
  <p>
    {{ "RESPONSIBLE_TEXT" | translate }}
  </p>
  <h3>{{ "DATA_COLLECTION" | translate }}</h3>

  <h4>{{ "DATA_COLLECTION_WEBSITE_TITLE" | translate }}</h4>
  <p>
    {{ "DATA_COLLECTION_WEBSITE_TEXT" | translate }}
  </p>
  <ul>
    <li>{{ "IP_ADDRESS" | translate }}</li>
    <li>{{ "ACCESS_TIME" | translate }}</li>
    <li>{{ "FILE_NAME_URL" | translate }}</li>
    <li>{{ "REFERRER_URL" | translate }}</li>
    <li>{{ "BROWSER_OS_PROVIDER" | translate }}</li>
  </ul>
  <p>
    {{ "DATA_COLLECTION_PURPOSES" | translate }}
  </p>
  <ul>
    <li>{{ "PURPOSE_LIST_1" | translate }}</li>
    <li>{{ "PURPOSE_LIST_2" | translate }}</li>
    <li>{{ "PURPOSE_LIST_3" | translate }}</li>
    <li>{{ "PURPOSE_LIST_4" | translate }}</li>
  </ul>
  <p>
    {{ "LEGAL_BASE" | translate }}
  </p>

  <h4>{{ "CONTACT_FORM_TITLE" | translate }}</h4>
  <p>
    {{ "CONTACT_FORM_TEXT" | translate }}
  </p>
  <ul>
    <li>{{ "CONTACT_FORM_NAME" | translate }}</li>
    <li>{{ "CONTACT_FORM_EMAIL" | translate }}</li>
    <li>{{ "CONTACT_FORM_MESSAGE" | translate }}</li>
  </ul>
  <p>
    {{ "CONTACT_FORM_PROCESSING" | translate }}
  </p>
  <p>
    {{ "CONTACT_FORM_USAGE" | translate }}
  </p>

  <h3>{{ "DATA_STORAGE_DELETION" | translate }}</h3>
  <p>
    {{ "DATA_STORAGE_DELETION_TEXT" | translate }}
  </p>

  <h3>{{ "DATA_SHARING" | translate }}</h3>
  <p>
    {{ "DATA_SHARING_TEXT" | translate }}
  </p>
  <ul>
    <li>{{ "DATA_SHARING_LIST_1" | translate }}</li>
    <li>{{ "DATA_SHARING_LIST_2" | translate }}</li>
    <li>{{ "DATA_SHARING_LIST_3" | translate }}</li>
    <li>{{ "DATA_SHARING_LIST_4" | translate }}</li>
  </ul>

  <h3>{{ "YOUR_RIGHTS" | translate }}</h3>
  <p>{{ "YOUR_RIGHTS_TEXT" | translate }}</p>
  <ul>
    <li>{{ "YOUR_RIGHTS_LIST_1" | translate }}</li>
    <li>{{ "YOUR_RIGHTS_LIST_2" | translate }}</li>
    <li>{{ "YOUR_RIGHTS_LIST_3" | translate }}</li>
    <li>{{ "YOUR_RIGHTS_LIST_4" | translate }}</li>
    <li>{{ "YOUR_RIGHTS_LIST_5" | translate }}</li>
    <li>{{ "YOUR_RIGHTS_LIST_6" | translate }}</li>
  </ul>

  <h3>{{ "RIGHT_TO_WITHDRAW" | translate }}</h3>
  <p>
    {{ "RIGHT_TO_WITHDRAW_TEXT" | translate }}
  </p>

  <h3>{{ "CHANGES_TO_POLICY" | translate }}</h3>
  <p>
    {{ "CHANGES_TO_POLICY_TEXT" | translate }}
  </p>
</section>
