<section class="legalNotice">
  <h2>{{ "LEGAL_NOTICE" | translate }}</h2>
  <h3>{{ "LEGAL_NOTICE_PARAGRAPH" | translate }}</h3>
  <p>
    <strong>Dennis Schwarz</strong><br/>
    Zum Bremmenfeld 11<br/>
    66539 Neunkirchen Saar<br/>
    {{ "COUNTRY" | translate }}
  </p>

  <h3>{{ "CONTACT" | translate }}</h3>
  <p>
    E-Mail:
    <a href="mailto:schwarzdennis1995@gmail.com">schwarzdennis1995&#64;gmail.com</a>
  </p>

  <h3>{{ "RESPONSIBLE_PARAGRAPH" | translate }}</h3>
  <p>
    Dennis Schwarz<br />
    Zum Bremmenfeld 11<br />
    66539 Neunkirchen Saar
  </p>

  <h3>{{ "LIABILITY_FOR_CONTENT" | translate }}</h3>
  <p>
    {{ "LIABILITY_FOR_CONTENT_TEXT_1" | translate }}
  </p>

  <p>
    {{ "LIABILITY_FOR_CONTENT_TEXT_2" | translate }}
  </p>

  <h3>{{ "LIABILITY_FOR_LINKS" | translate }}</h3>
  <p>
    {{ "LIABILITY_FOR_LINKS_TEXT_1" | translate }}
  </p>

  <p>
    {{ "LIABILITY_FOR_LINKS_TEXT_2" | translate }}
  </p>

  <h3>{{ "COPYRIGHT" | translate }}</h3>
  <p>
    {{ "COPYRIGHT_TEXT_1" | translate }}
  </p>

  <p>
    {{ "COPYRIGHT_TEXT_2" | translate }}
  </p>

  <h3>{{ "PRIVACY_POLICY" | translate }}</h3>
  <p>
    {{ "PRIVACY_POLICY_TEXT_1" | translate }}
  </p>

  <p>
    {{ "PRIVACY_POLICY_TEXT_2" | translate }}
  </p>
</section>
