@import "./../../../styles.scss";

.marqueeButtonContent {
  @include displayFlex();
  @include padding(12px 24px);
  @include fontStyle($font_size_18, $font_weight_400, $ff: $primary_font_karla);
  @include position(relative);
  @include overflowHidden();
  @include width();
  white-space: nowrap;
  > span {
    @include position(relative, $l: 0);
    display: inline-block;
    white-space: nowrap;
  }
  > span:nth-child(1) {
    @include position(absolute, $l: -100%);
  }
  > span:nth-child(3) {
    @include position(absolute, $l: 100%);
  }
  &:hover {
    @include cursorPointer();
    color: $primary_color_green;
    border: 1px solid $primary_color_green;
  }
  &:hover > span {
    animation: buttonMarquee 2s linear infinite;
  }
}

@keyframes buttonMarquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 24px));
  }
}
