@import "./../../styles.scss";

.reference {
  @include displayFlex($fd: column);
  @include gap(48px);
  background: $primary_background_color_black;
  text-align: center;
  @include padding(40px 60px);
  > h3 {
    @include fontStyle($font_size_32, $font_weight_700, $primary_color_green);
  }
}

.carousel {
  @include displayFlex();
  @include overflowHidden();
  @include gap(44px);
  @include position(relative);
  @include width();
  @include height(300px);
}

.carouselItem {
  @include height(100%);
  @include width(50%);
  @include displayFlex($jc: space-between, $fd: column);
  @include gap(44px);
  @include position(absolute);
  @include padding(48px 40px);
  border-radius: 32px;
  transition: 300ms ease-in-out;
  background: $primary_background_color_green;
  opacity: 0.3;
  transform: scale(0.9);

  &:hover {
    @include cursorPointer();
  }

  &.active {
    transform: translateX(0) scale(1);
    opacity: 1;
    border: 1px solid $primary_color_green;
  }

  &.prev {
    transform: translateX(-105%) scale(0.9);
    background: linear-gradient(90deg, #1c1c1cb3 70%, #08463b 100%);
  }

  &.next {
    transform: translateX(105%) scale(0.9);
    background: linear-gradient(270deg, #1c1c1cb3 70%, #08463b 100%);
  }

  > footer {
    @include displayFlex($ai: center);
    @include gap(12px);
    @include width();
    @include fontStyle(
      $font_size_18,
      $font_weight_400,
      $primary_color_white,
      $primary_font_karla
    );
  }
}

.carouselItem.active {
  opacity: 1;
  transform: scale(1);
}

blockquote {
  text-align: justify;
  > p {
    @include fontStyle(
      $font_size_20,
      $font_weight_400,
      $primary_color_white,
      $primary_font_karla
    );
  }
}

.line {
  content: "";
  @include height(1px);
  background-color: $primary_color_white;
  flex-grow: 1;
}

.carouselControls {
  @include displayFlex();
  @include gap(20px);
}

.carouselArrow {
  @include width(32px);
  @include height(32px);
  transition: 125ms ease-in-out;
  &:hover {
    @include cursorPointer();
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(75%) sepia(12%) saturate(2393%)
      hue-rotate(117deg) brightness(99%) contrast(73%);
  }
}

.carouselIndicators {
  @include displayFlex();
  @include gap(12px);
}

.indicator {
  @include width(8px);
  @include height(8px);
  background-color: $primary_color_white;
  border-radius: 50%;
  transition: 300ms ease-in-out;
  &:hover {
    @include cursorPointer();
  }
}

.indicator.active {
  background-color: $primary_color_green;
}
