$primary_color_white: #ffffff;
$primary_color_green: #3dcfb6;
$primary_color_green_faded: #3DCFB680;
$primary_background_color_green: #08463b;
$primary_background_color_black: #1c1c1c;
$secondary_color_white: #d9d9d9;
$secondary_color_green: #3DCFB61A;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_20: 20px;
$font_size_24: 24px;
$font_size_40: 40px;
$font_size_64: 64px;
$font_size_128: 128px;
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_600: 600;
$font_weight_700: 700;
$border_radius_button_100: 100px;

@mixin height($h: 100dvh) {
  height: $h;
}

@mixin width($w: 100%) {
  width: $w;
}

@mixin position($p) {
  position: $p;
}

@mixin backgroundImage($bi, $bp: center, $bs: cover, $br: no-repeat) {
  background-image: url($bi);
  background-position: $bp;
  background-size: $bs;
  background-repeat: $br;
}

@mixin displayFlex($d: flex, $jc: center, $ai: center, $fd: row) {
  display: $d;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin padding($p: 0px 0px) {
  padding: $p;
}

@mixin gap($g: 0px) {
  gap: $g;
}

@mixin fontStyle(
  $fs: $font_size_20,
  $fw: $font_weight_400,
  $c: $primary_color_white
) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin cursorPointer($p: pointer) {
  cursor: $p;
}

@mixin overflowHidden($oh: hidden) {
  overflow: $oh;
}

* {
  margin: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  background: none;
  outline: none;
  border-radius: $border_radius_button_100;
  border: 1px solid white;
}


